@import "vars.scss";
@import "vendor/reset.scss";


html {
    font-size: 62.5%;
}
body {
    background-color: #181818;
    font-size: 1.4rem;
    color: $white;
    font-family: system-ui ,-apple-system ,"Segoe UI" ,Roboto ,"Helvetica Neue", Arial ,"Noto Sans" ,"Liberation Sans", sans-serif ,"Apple Color Emoji" ,"Segoe UI Emoji" ,"Segoe UI Symbol" ,"Noto Color Emoji";
    line-height: 1.5;
}
*,
*::before
*::after {
    box-sizing: border-box;
}
/* blocks */
@import "blocks/post";
@import "blocks/add-post";
@import "blocks/stories";
@import "blocks/subnav";
@import "blocks/social";
@import "blocks/page";
@import "blocks/nav";
@import "blocks/search";
@import "blocks/header";
@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/container";
@import "blocks/profile";
@import "blocks/btn";
